<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <link rel="shortcut icon" href="{{ url_for('static', filename='ship-icon.png') }}" type="image/x-icon">
    <link rel="icon" href="{{ url_for('static', filename='ship-icon.png') }}" type="image/x-icon">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">

    <title>
        {% block title %}
            Battleships
        {% endblock title %}
    </title>

</head>
<body>
    {% block content %}
    {% endblock content %}
</body>
</html>