{% extends 'base_templates/base.html' %}

{% from 'macros/print_both_oceans.html' import print_both_oceans %}

{% block content %}
    <div>
        <button onclick="location.href = {{ url_for('index') }};" id="btn1" class="homeBtn">
               Home screen
        </button>
        <br>
        <p class="playTitle">Player One</p>
        <p class="playSmallTitle">Your task is to sink all the ships!</p>
    </div>
    <center>
    <table>
        <tr>
            <th class="playScreenTh">Your shots</th>
            <th class="playScreenTh">Your ships</th>
        </tr>
        <tr>
            {{ print_both_oceans(first_shots, first_ships) }}
        </tr>
        <tr>
            {% if first_msg %}
                <th class="playScreenTh playScreenThMsgShot">You {{ first_msg }}</th>
                <th class="playScreenTh playScreenThMsgShot">Your opponent {{ second_msg }}</th>
            {% else %}
                <th class="playScreenTh playScreenThMsgShot">Shoot yor first shot!</th>
                <th class="playScreenTh playScreenThMsgShot">Waiting for opponents first shot</th>
            {% endif %}
        </tr>
    </table>
    </center>
{% endblock content %}
